{% extends "base.html" %}
{% block content %}
  <div class="card stack">
    <div>
      <h1 class="h1">Velg hvem du er</h1>
    </div>

    <form method="post" action="{{ url_for('select_user_post') }}" class="stack">
      <div class="row">
        {% for u in users %}
          <button class="btn btn--primary" type="submit" name="user_id" value="{{ u.id }}" style="font-size: 16px; padding: 14px 14px;">
            {{ u.display_name }}
          </button>
        {% endfor %}
      </div>
    </form>
  </div>
{% endblock %}

